<h2><%= t('.title') %></h2>
<% if @histories.present? %>
  <%= will_paginate(@histories, inner_window: 1, outer_window: 1, next_label: t(".next"), previous_label: t(".previous")) %>
  <% @histories.each do |history| %>
  <div id="history">
    <table>
      <tr>
        <th rowspan="2">
          <div class="thumbnail_image">
            <% if history.item.image && history.item.image.thumbnail_data.present? %>
              <%= image_tag thumbnail_item_path(id: history.item_id, format: history.item.image.thumbnail_extension), size: "140x140" %>
            <% else %>
              <p>No Image</p>
            <% end %>
          </div>
        </th>
        <td>
          <div class="title"><%= history.item.display_name %></div>
        </td>
      </tr>
      <tr>
        <td>
          <span><%= history.created_at.strftime("%Y/%m/%d %H:%M") %></span>
          <span><%= link_to history.user.try(:screen_name), [ :manager, @organization, history ] %>          
        </td>
      </tr>
    </table>
  </div>
  <% end %>
  <%= will_paginate(@histories, inner_window: 1, outer_window: 1, next_label: t(".next"), previous_label: t(".previous")) %>
<% else %>
  <p>No Item</p>
<% end %>