<div id="search">
  <% if @shopping_cart.data.present? && @shopping_cart.items.count > 0 %>
    <% @shopping_cart.items.each do |item| %>
      <div class="form-group panel panel-default search_item">
        <div class="panel-heading"><%= item.display_name %></div>
        <div class="panel-body">
          <div class="thumbnail_image">
            <% if item.image && item.image.thumbnail_data.present? %>
              <%= image_tag thumbnail_item_path(id: item.id, format: item.image.thumbnail_extension), size: "140x140" %>
            <% else %>
              <p>No Image</p>
            <% end %>
          </div>
          <p>
            <% if current_user %>
              <% if current_user.bookmark_folder.try(:has_item?, item) %>
                <%= link_to t(".remove_favorite"), [ :remove_from_bookmark, item], class: "btn btn-default", style: "width: 100%; margin:10px 0;", role: "button", method: :put %>
              <% else %>
                <%= link_to t(".add_favorite"), [ :add_to_bookmark, item ], class: "btn btn-default", style: "width: 100%; margin:10px 0;", role: "button", method: :put %>
              <% end %>
              <% if current_user.shopping_cart.try(:has_item?, item) %>
                <%= link_to t(".remove_cart"), [ :remove_from_cart, item], class: "btn btn-warning", style: "width: 100%;", role: "button", method: :put %>
              <% end %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  <% else %>
    <p><%= t(".nothing") %></p>
  <% end %>
</div>
<% if @shopping_cart.data.present? && @shopping_cart.items.count > 0 %>
  <div class="checkout">
    <%= link_to t(".checkout"), :checkout_shopping_cart, class: "btn btn-success", style: "float: right;", method: :put %>
    <span>￥<%= current_user.shopping_cart.data[:items].inject(0){|sum,item| sum + item[:price]} %></span>
  </div>
<% end %>