<div id="show" class="form-group panel panel-primary">
  <div class="panel-heading">
    <%= t(".title") %>
  </div>
  <div class="panel-body">
    <div class="form">
      <%= form_for current_user, url: [ :update_password, current_user ], method: :put do |f| %>
        <div class="form_box">
          <%= f.label :password %><br/>
          <%= format_error_message(current_user, :password, f).html_safe %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class="form_box" style="margin-bottom: 20px;">
          <%= f.label :password_confirmation %><br/>
          <%= format_error_message(current_user, :password_confirmation, f).html_safe %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
        <%= f.submit t(".update"), class: "btn label-primary", style: "color: #fff; margin-bottom: 10px; width: 100%;" %>
      <% end %>
    </di
  </div>
</div>