<div id="form" class="form-group panel panel-primary">
  <div class="panel-heading">
    Show <%= @history.item.display_name %>
  </div>

  <div class="panel-body">
    </div>

    <%= @history.item.description %>
    <hr>

    <% if @history.item.image && @history.item.image.data1.present? %>
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <% if @history.item.image && @history.item.image.data2.present? %>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <% end %>
          <% if @history.item.image && @history.item.image.data3.present? %>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <% end %>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag data1_item_path(id: @history.item.id, format: @history.item.image.extension1) %>
          </div>
          <% if @history.item.image && @history.item.image.data2.present? %>
            <div class="item">
              <%= image_tag data2_item_path(id: @history.item.id, format: @history.item.image.extension2) %>
            </div>
          <% end %>
          <% if @history.item.image && @history.item.image.data3.present? %>
            <div class="item">
              <%= image_tag data3_item_path(id: @history.item.id, format: @history.item.image.extension3) %>
            </div>
          <% end %>
        </div>

        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    <% end %>
  </div>
</div>