<div id="session" class="form-group panel panel-primary">
  <div class="panel-heading">
    <%= t(".title") %>
  </div>
  <div class="panel-body">
    <%= form_for @user, url: forgot_update_password_path(value: params[:token]), method: :post do |f| %>
      <%= hidden_field_tag "token", @user_token.value %>
      <%= f.password_field :password, class: "form-control", placeholder: t(".password") %><br/>
      <%= format_error_message(@user, :password, f).html_safe %>
      <%= format_error_message(@user, :password_confirmation, f).html_safe %>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: t(".password_confirmation") %><br/>
      <%= f.submit t(".update"), class: "btn label-primary", style: "color: #fff; margin-bottom: 10px; width: 100%;" %><br/>
    <% end %>
  </div>
</div>