<div id="show" class="form-group panel panel-primary">
  <div class="panel-heading">
    <%= t(".title") %>
  </div>
  <div class="panel-body">
    <div class="form">
    <%= form_for @organization, method: :post do |f| %>
      <div class="form_box">
        <%= f.label :screen_name %><%= t(".en") %><br/>
        <%= format_error_message(@organization, :screen_name, f).html_safe %>
        <%= f.text_field :screen_name, class: "not_ime form-control" %>
      </div>
      <div class="form_box">
        <%= f.label :real_name %><br/>
        <%= format_error_message(@organization, :real_name, f).html_safe %>
        <%= f.text_field :real_name, class: "form-control" %>
      </div>
      <%= f.fields_for :image do |img| %>
        <div class="form_box">
          <%= img.label :uploaded_image %><%= t(".max") %><br/>
          <%= format_error_message(@organization.image, :uploaded_image, img).html_safe %>
          <%= img.file_field :uploaded_image %><br/>
        </div>
        <% if img.object.errors.empty? and f.object.errors.empty? and @organization.image.data.present? %>
          <div class="form_box">
            <%= image_tag manager_organization_thumbnail_path(organization_id: @organization.id, format: @organization.image.thumbnail_extension),
              style: "max-width: 140px; max-height: 140px;"%><br/>
            <%= label_tag :uploaded_image_destroy, t(".destroy") %>
            <%= check_box_tag :uploaded_image_destroy %><br/>
            <%= img.hidden_field :id %>
          </div>
        <% end %>
      <% end %>

      <%= f.fields_for :organization_address do |address| %>
        <div class="form_box">
          <%= address.label :country_name %><br/>
          <% hash = I18n.t(:countries) %>
          <%= address.select :country_code, hash.map{|key, value| [value.to_s, key]},
            selected: @organization.organization_address.country_code.blank? ? "JP" : @organization.organization_address.country_code %>
        </div>
        <div class="form_box">
          <%= address.label :zip_code %><span><%= t(".hyphen") %></span><br/>
          <%= format_error_message(@organization.organization_address, :zip_code, address).html_safe %>
          <%= address.text_field :zip_code, size: 7, maxlength: "7", class: "not_ime form-control" %>
        </div>
        <div class="form_box">
          <%= address.label :state %><%= t(".zenkaku") %><br/>
          <%= format_error_message(@organization.organization_address, :state, address).html_safe %>
          <%= address.text_field :state, class: "form-control" %>
        </div>
        <div class="form_box">
          <%= address.label :city %><%= t(".zenkaku") %><br/>
          <%= format_error_message(@organization.organization_address, :city, address).html_safe %>
          <%= address.text_field :city, class: "form-control" %>
        </div>
        <div class="form_box">
          <%= address.label :address1 %><%= t(".zenkaku") %><br/>
          <%= format_error_message(@organization.organization_address, :address1, address).html_safe %>
          <%= address.text_field :address1, class: "form-control" %>
        </div>
        <div class="form_box">
          <%= address.label :address2 %><%= t(".zenkaku") %><br/>
          <%= format_error_message(@organization.organization_address, :address2, address).html_safe %>
          <%= address.text_field :address2, class: "form-control" %>
        </div>
        <div class="form_box">
          <%= address.label :phone %><%= t(".hankaku") %><br/>
          <%= format_error_message(@organization.organization_address, :phone, address).html_safe %>
          <%= address.text_field :phone1, maxlength: 4, class: "not_ime", style: "width: 100px; display: inline; background: #{@organization.errors.include?(:"organization_address.phone") ? 'yellow' : '' }", class: "form-control" %> -
          <%= address.text_field :phone2, maxlength: 4, class: "not_ime", style: "width: 100px; display: inline; background: #{@organization.errors.include?(:"organization_address.phone") ? 'yellow' : '' }", class: "form-control" %> -
          <%= address.text_field :phone3, maxlength: 4, class: "not_ime", style: "width: 100px; display: inline; background: #{@organization.errors.include?(:"organization_address.phone") ? 'yellow' : '' }", class: "form-control" %>
        </div>
        <div class="form_box">
          <%= address.label :mobile %><%= t(".hankaku") %><br/>
          <%= format_error_message(@organization.organization_address, :mobile, address).html_safe %>
          <%= address.text_field :mobile1, maxlength: 4, class: "not_ime", style: "width: 100px; display: inline;background: #{@organization.errors.include?(:"organization_address.mobile") ? 'yellow' : '' }", class: "form-control" %> -
          <%= address.text_field :mobile2, maxlength: 4, class: "not_ime", style: "width: 100px; display: inline;background: #{@organization.errors.include?(:"organization_address.mobile") ? 'yellow' : '' }", class: "form-control" %> -
          <%= address.text_field :mobile3, maxlength: 4, class: "not_ime", style: "width: 100px; display: inline;background: #{@organization.errors.include?(:"organization_address.mobile") ? 'yellow' : '' }", class: "form-control" %>
        </div>
        <div  class="form_box" style="margin-bottom: 20px;">
          <%= address.label :fax %><%= t(".hankaku") %><br/>
          <%= format_error_message(@organization.organization_address, :fax, address).html_safe %>
          <%= address.text_field :fax1, maxlength: 4, style: "width: 100px; display: inline;background: #{@organization.errors.include?(:"organization_address.fax") ? 'yellow' : '' }",  class: "form-control" %> -
          <%= address.text_field :fax2, maxlength: 4, style: "width: 100px; display: inline;background: #{@organization.errors.include?(:"organization_address.fax") ? 'yellow' : '' }",  class: "form-control" %> -
          <%= address.text_field :fax3, maxlength: 4, style: "width: 100px; display: inline;background: #{@organization.errors.include?(:"organization_address.fax") ? 'yellow' : '' }",  class: "form-control"  %>
        </div>
      <% end %>
      <div>
        <%= f.submit t(".create"), class: "btn label-primary", style: "color: #fff; margin-bottom: 10px; width: 100%;" %>
      </div>
    <% end %>
  </div>
</div>