<!DOCTYPE html>
<html>
<head>
  <title>Shophoo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/header' %>
<%= yield %>

</body>
</html>
